<main>
	<ol>
		<li> <h1> h1 hello world </h1> </li>
		<li> <h1 class="text-uppercase"> h1 class=text-uppercase </h1> </li>
		<li> <h1 class="text-center text-lowercase"> h1 class=text-center text-lowercase </h1> </li>
		<li> <h1 class="text-end"> h1 class=text-center </h1> </li>
		<li> <h1 class="text-center  text-capitalize"> h1 class=text-center text-capitalize </h1> </li>
		<hr>
		<li> <h2> h2 second </h2> </li>
		<li> <h3> h3 3 title </h3> </li>
		<hr>
		<li> <div class="display-1"> div class=display-1 </div> </li>
		<li> <div class="display-5"> div class=display-5 </div> </li>
		<li> <div class="display-6"> div class=display-6 </div> </li>
		<hr>
		<hr>
		<li> <span class="text-muted"> span class=text-muted </span> </li>
		<li> <div class="text-muted text-end"> div class=text-muted text-end </div> </li>
		<li> <div class="text-muted text-end"> div class=text-muted text-end <span class="display-6"> span class=display-6 </span> </div> </li>
		<hr>
		<hr>
		<li> <button type="button" class="btn">button type=button class=btn</button> </li> <br>
		<li> <button type="button" class="btn btn-primary">button type=button class=btn btn-primary</button> </li> <br>
		<li> <button type="button" class="btn btn-secondary">button type=button class=btn btn-secondary</button> </li> <br>
		<li> <button type="button" class="btn btn-success">button type=button class=btn btn-success</button> </li> <br>
		<li> <button type="button" class="btn btn-danger">button type=button class=btn btn-danger</button> </li> <br>
		<li> <button type="button" class="btn btn-warning">button type=button class=btn btn-warning</button> </li> <br>
		<li> <button type="button" class="btn btn-info">button type=button class=btn btn-info</button> </li> <br>
		<li> <button type="button" class="btn btn-light">button type=button class=btn btn-light</button> </li> <br>
		<li> <button type="button" class="btn btn-dark">button type=button class=btn btn-dark</button> </li> <br>
		<li> <button type="button" class="btn btn-link">button type=button class=btn btn-link</button> </li> <br>
		<li> <a href="#" class="btn btn-link">a href=# class=btn btn-link</a> </li> <br>
		<li> <a href="#" class="btn btn-primary">a href=# class=btn btn-primary</a> </li> <br>
		<li> 
			<button type="button" class="btn btn-primary"> 
				<span class="text-uppercase"> button type=button class=btn btn-primary span class="text-uppercase </span>
			</button> 
		</li> <br>
		<li> 
			<button type="button" class="btn btn-primary"> 
				<span class="text-uppercase"> button type=button class=btn btn-primary span class="text-uppercase </span>
				<h1> h1 </h1>
			</button> 
		</li> <br>
		<hr>
		<hr>
		<li> <p> p </p> </li>
		<li> <p class="text-primary"> p class="text-primary" </p> </li>
		<li> <p class="text-secondary"> p class="text-secondary" </p> </li>
		<li> <p class="text-success"> p class="text-success" </p> </li>
		<li> <p class="text-danger"> p class="text-danger" </p> </li>
		<hr>
		<hr>
		<li> <button type="button" class="btn btn-outline-primary"> button type="button" class="btn btn-outline-primary </button> </li> <br>
		<li> <button type="button" class="btn btn-outline-success"> button type="button" class="btn btn-outline-success </button> </li> <br>
		<li> <button type="button" class="btn btn-outline-danger"> button type="button" class="btn btn-outline-danger </button> </li> <br>
		<li> <button type="button" class="btn btn-danger"> button type="button" class="btn btn-outline-danger - hover: </button> </li> <br>
		<li> <button type="button" class="btn btn-outline-warning"> button type="button" class="btn btn-outline-warning </button> </li> <br>
		<li> <button type="button" class="btn btn-warning"> button type="button" class="btn btn-outline-warning - hover: </button> </li> <br>
		<hr>
		<hr>
		<li> <button type="button" class="btn btn-warning btn-sm"> button type="button" class="btn btn-outline-warning btn-sm </button> </li> <br>
		<li> <button type="button" class="btn btn-warning"> button type="button" class="btn btn-outline-warning </button> </li> <br>
		<li> <button type="button" class="btn btn-warning btn-ls"> button type="button" class="btn btn-outline-warning btn-ls </button> </li> <br>
		<hr>
		<hr>
		<li> 
			<div>
				<div>div>div</div>
			</div>
		</li> 
		<br>
		<li> 
			<div class="card">
				<div>div class=card>div</div>
			</div>
		</li> 
		<br>
		<li> 
			<div class="card">
				<div class="card-body">div class=card>div class=card-body</div>
			</div>
		</li> 
		<br>
		<li> 
			<div class="card">div class=card</div>
		</li> 
		<br>
		<li> 
			<div class="card-body">div class=card-body</div>
		</li> 
		<br>
		<li> 
			<div class="card">
				<div class="card-body">
					<button type="button" class="btn btn-warning btn-ls"> button type="button" class="btn btn-outline-warning btn-ls </button> <br> <br>
					<button type="button" class="btn btn-warning"> button type="button" class="btn btn-outline-warning </button> <br> <br>
					<button type="button" class="btn btn-warning btn-sm"> button type="button" class="btn btn-outline-warning btn-sm </button> <br> <br>
				</div>
			</div>
		</li> 
		<br>
	</ol>
	
	

	
	






</main>
