<main>
    <section>
        <h1>Botstrap in progress...</h1>
        <h2>Second</h2>
        <h3>Third</h3>

        <hr>

        <div class="display-1">Botstrap</div>
        <div class="display-5 text-muted">Second</div>
        <div class="display-6">Third</div>
        
        <hr>

        <span class="text-muted">Additional text</span>
        
        <div class="text-center">Center not work with <span class="display-6">text</span> span</div>

        <div class="text-end">End not work with text span</div>text

        <hr>

        <div>
            <span class="text-capitalize">lorem ipsum dolor sit amet</span>
            <span class="text-uppercase">consectetur adipisicing elit. Nihil harum</span>
            <span class="text-lowercase text-muted">eXcepturi rAtiOne illo magni Quam.</span>
              
        </div>
        <hr>
        <button class="btn btn-info">it's info button</button>
        <button class="btn btn-primary">it's primary button</button>
        <button class="btn btn-success">it's success button</button>
        <button class="btn btn-light">it's light button</button>
        <br>
        <button class="btn btn-warning">it's warning button</button>
        <button class="btn btn-danger">it's danger button</button>
        <button class="btn btn-dark">it's dark button</button>
        <button class="btn btn-link">it's link button JS</button>
        <button class="btn btn-secondary">it's secondary button</button>
        <br><br>
        <button class="btn btn-info">
            <h1 class="text-light">It's</h1>
            <span class="text-uppercase">info button</span>
        </button>
        <input class="btn btn-warning btn-lg" placeholder="it's warning button input"></input>
        <a href="#" class="btn btn-link">it's link button for html</a>

        <hr>
        <div class="text-info">text info</div>
        <div class="text-warning">text warning</div>
        <div class="text-secondary">text secondary</div>
        <div class="text-muted">text muted</div>
        <div>usual text</div>

        <hr>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-info btn-lg">Outline</button>
                <button class="btn btn-outline-warning">Outline</button>
                <button class="btn btn-warning btn-sm">Small</button>
            </div>
        </div>

        
        <br><br>

        <div class="card">
            Card content
            <div class="card-body">
                Content of card body
            </div>
            More card content
        </div>


    </section>
</main>