<div>
    {{#with main}}
        <main>
            <section>
                {{> title data='My education'}}
                <ul>
                    {{#each education}}
                    <li>
                        {{name}}
                        {{#unless isEnd}} (ще в процесі) {{/unless}}
                    </li>
                    {{/each}}

                </ul>
            </section>
        </main>
    {{/with}}
</div>