{{!-- Це файл з кодом, який виводиться якщо в нас є помилка --}}
<div style="margin: 48px">
  {{!-- ↓ ця конструкція виводить зміну message, яку нам бек-енд передає, колу в нас вилазить помилка --}}
  {{message}}
  <pre class="pt-3" style="line-height: normal;">
  ░░░░░░░░▄██▄░░░░░░▄▄░░
  ░░░░░░░▐███▀░░░░░▄███▌
  ░░▄▀░░▄█▀▀░░░░░░░░▀██░
  ░█░░░██░░░░░░░░░░░░░░░
  █▌░░▐██░░▄██▌░░▄▄▄░░░▄
  ██░░▐██▄░▀█▀░░░▀██░░▐▌
  ██▄░▐███▄▄░░▄▄▄░▀▀░▄██
  ▐███▄██████▄░▀░▄█████▌
  ▐████████████▀▀██████░
  ░▐████▀██████░░█████░░
  ░░░▀▀▀░░█████▌░████▀░░
  ░░░░░░░░░▀▀███░▀▀▀░░░░</pre>
  <p>
    Go to
    <a href='http://localhost:3000/'>mainpage &#11014;</a>
  </p>
</div>