{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div class="p-5 pt-0">        

    <h1 class="my-5">Список сторінок</h1>

    <p class="mb-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem placeat ipsam perspiciatis adipisci sit, eveniet eius ipsum, quaerat tenetur libero nihil sed dignissimos nesciunt minima quis temporibus id quasi eos!
        Impedit consequatur, reprehenderit voluptates repellendus delectus aspernatur. Odit eius, quibusdam architecto dolores veniam autem libero tenetur accusamus quos deserunt officiis ea cum sit eligendi unde natus culpa corrupti quam facere.
        Officia animi, tempora quod tenetur nostrum harum neque recusandae facilis minus aspernatur illo laborum. Nemo, similique. Quod, deleniti excepturi. Animi vero aliquam quod veniam consectetur quae distinctio laboriosam blanditiis numquam!
    </p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/bio">Biography</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/bootstrap">Bootstrap</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/car">Car</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/education">Education</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/error">Error</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/facebook">Facebook</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/js">JS</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/mac">Mac</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/person">Person</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/program">Program</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/shopcart">Shopcart</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/shophome">Shophome</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/shoporder">Shoporder</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/shopprofile">Shopprofile</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/shopreview">Shopreview</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/skills">Skills</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/summary">Summary</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/task21">Task21</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/task22">Task22</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/task31">Task31</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/web">Web</a>
        </li>
        <li class="list-group-item border-0">
            <a class="btn btn-primary " href="/work">Wokr</a>
        </li>
    </ul>
    
        {{!--
        Цей код містить лише те, що буде виводитись в

        <body>
            Адже наш layout/default.hbs має вже структуру HTML
            --}}
    
</main>