<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="All skills"}}
            <ul>
                {{#each skills}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>