<div>
	{{#with main}}
    <main>
        <section>
            {{> title data=summary.title}}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        <section>
            {{> title data=otherexp.title}}
            <div>
                <p>
                    {{otherexp.text}}
                </p>
            </div>
        </section>
    </main>
	{{/with}}
</div>