<nav>
    {{> link href='/summary' text='Summary'}}
    {{> link href='/skills' text='Skills'}}
    {{> link href='/education' text='Education'}}
    {{> link href='/work' text='Work' end=true}}

    {{!-- <a href='/skills'>Skills</a> --}}

    {{!-- <a href='/summary'>Summary</a> --}}
</nav>