<nav>
    {{> link text="Summary" href="/summary" line=true }}
    {{> link text="Skills" href="/skills" line=true}}
    {{> link text ="Education" href="/educations" line=true}}
    {{> link text="works" href="/works" line= true}}
</nav>