<div class="col-2">
{{#each data}}
    <div class="nav-item">
        <a class="nav-link
        
        " href="{{link}}">{{text}}</a>
    </div>                                      
{{/each}}
</div>