<div class="col-6" style="min-width: 170px">
{{#with data}} 
    <label class="form-label">{{label}}</label>
    <input placeholder="{{placeholder}}" class="form-control">
    <div class="form-text">{{caption}}</div>
{{/with}}
</div>