<label class="form-label mt-3">{{label}}</label>
<select class="form-select form-select-lg">
    <option selected>{{placeholder}}</option>                                            
    {{#each options}}
        <option value="{{value}}">{{text}}</option>
    {{/each}}    
</select>